@model BeautyCenterCore.Models.DetalleCitas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>DetalleCitas</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CitaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CitaId" class="form-control" />
                <span asp-validation-for="CitaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClienteId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Servicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Servicio" class="form-control" />
                <span asp-validation-for="Servicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
