@model BeautyCenterCore.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Clientes</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombres" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Provincia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ciudad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cedula" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaNac" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaNac" class="form-control" />
                <span asp-validation-for="FechaNac" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
